html, body {
    height: 100%;
}

#main-form-div {
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#search-form {
    display: inline;
}

#chart-wrapper {
    width: 100%;
    height: calc(100% - 40px);
    margin: auto;
}

.button {
    background-color: transparent;
    border-style: none;
}

#display-reset-btn, #chart-data-reset-btn {
    display: none;
}

.spin {
    animation: spin 2s infinite;
}

#help-text{
    color: rgba(128, 128, 128, 0.712);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}