<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <meta name="description" content="Historical Price Visualization Hosted on Heroku">
    <title>Hatsubai</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='/img/favicon.png')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
        integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.0/chartjs-plugin-zoom.min.js"
        integrity="sha512-TT0wAMqqtjXVzpc48sI0G84rBP+oTkBZPgeRYIOVRGUdwJsyS3WPipsNh///ay2LJ+onCM23tipnz6EvEy2/UA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"
        integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/main.css')}}">
</head>

<body>
    <div id="main-form-div">
        <form id="search-form">
            <input class="form-control-sm" type="text" id="search" name="search" placeholder="Search">
            <label for="qty">Max:</label>
            <input class="form-control-sm" type="number" id="qty" name="qty" value="10" min="10" max="100" step="10">
            <input type="checkbox" id="strict" name="strict" value="true" checked>
            <label class="form-check-label" for="strict">Strict</label>
            <input type="checkbox" id="use_api" name="use_api" value="true" checked>
            <label class="form-check-label" for="use_api">API</label>
            <input type="checkbox" id="sold_only" name="sold_only" value="false" >
            <label class="form-check-label" for="sold_only">Sold items only</label>
            <input class="button" id="search-btn" type="submit" value="&#127822;">
        </form>
        <button class="button" id="display-reset-btn">&#127821;</button>
        <button class="button" id="chart-data-reset-btn">&#127820;</button>
        <span id="help-text">Click to open links, Alt + Click to remove</span>
        <div id="chart-wrapper">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</body>

<script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>

</html>